doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1", maximum-scale="1")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    link(rel="stylesheet", href="/css/lib.min.css")
    link(rel="stylesheet", href="/css/app.min.css")
  body
    header.bar.bar-nav
      h1.title Antenna
    div.content
    footer.bar.bar-standard.bar-footer
      a#prev.icon.icon-left-nav.pull-left
      a#next.icon.icon-right-nav.pull-right
    script(src="/js/lib.min.js")
    script(src="/js/app.min.js")
